*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1548px;
    margin: 0 auto;
    padding: 10px;
}
/*--------------------------------------------------------header-----------------------------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: white;
    box-shadow: 0px 0px 8px rgb(118, 117, 117);
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    font-family: "CircularStd", sans-serif;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: -0.7503158450126648px;
    text-align: left;
    width: 80px;
    height: 30px;
    top: 6px;
    gap: 0px;
    opacity: 0px; 
}
.header__list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.header__link{
    text-decoration: none;
    font-family: "CircularStd", sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -0.5002105832099915px;
    text-align: right;
    color: black;
}
.header__link:hover{
    border-bottom: 1px solid red;
    padding-bottom: 8px;
    color: red;
}
.header__button{
    width: 141px;
    height: 45px;
    left: 1407px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -0.5002105832099915px;
    text-align: center;
    background: #F04037;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;   
}
.header__button:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}
/*--------------------------------------------------------hero-----------------------------------------------------*/
.hero {
    padding: 65px;
}
.hero__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.hero__img{
    width: 329px;
    height: 674px;
    top: 132px;
    left: 245px;
    gap: 0px;
    opacity: 0px;
}
.hero__list{
    list-style: none;
}
.hero__title{
    font-family: "CircularStd", sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;
    width: 534px;
    height: 140px;
    top: 263px;
    left: 720px;
    gap: 0px;
    opacity: 0px;    
}
.hero__text{
    width: 519px;
    height: 117px;
    top: 433px;
    left: 720px;
    gap: 0px;
    opacity: 0px;
    font-family: "CircularStd", sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;     
}
.hero__form{
    padding-top: 100px;
    display: flex;
    align-items: center;
    width: 475px;
    height: 71px;
    position: relative;
}
.hero__input{
    padding-left: 60px;
    padding-right: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 60px;
    width: 475px;
    height: 71px;
    font-family: CircularStd, sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: -0.5627368688583374px;
    text-align: left;
    border: 1px solid rgba(234, 233, 242, 1);
    
}
.hero__img-email{
    position: absolute;
    padding-left: 22px;
}
.hero__button{
    width: 200px;
    height: 60px;
    background: #F04037;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;
    position: absolute;
    right: 6px;
}
.hero__button:hover{
    color: red;
    background: transparent;
    border: 1px solid red;
}
/*--------------------------------------------------------section-----------------------------------------------------*/
.section__container{
    display: flex;
    justify-content: space-evenly;
     
    width: 1600px;
    height: 440px;
    top: 899px;
    gap: 0px;
    opacity: 0px;
    align-items: center;    
}
.section{
    background: #5454D4;
}
.section__title{
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;
    color: #FFFFFF;    
    width: 514px;
    height: 116px;
    top: 46px;
    gap: 0px;
    opacity: 0px;
    margin: 30px 0px;  
    font-style: italic;
}
.section__text{
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5002105832099915px;
    text-align: left;
    width: 108px;
    height: 28px;
    top: 183px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFFB2;
}
#star{
    color: #FEDC5A;
    width: 21px;
    height: 19px;
    left: 101px;
    gap: 0px;
    opacity: 0px;
    font-size: 25px;
    margin: 5px;
}
/*--------------------------------------------------------main-----------------------------------------------------*/
.main__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main__list{
    list-style: none;
}
.main__title{
    width: 528px;
    height: 140px;
    top: 1452px;
    left: 245px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;
    color: #19191B;    
}
.main__text{
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;
    width: 515px;
    height: 117px;
    top: 1616px;
    left: 248px;
    gap: 0px;
    opacity: 0px;
    color: #696871;
    padding: 10px 0px; 
}
.main__item-next{
    display: flex;
    align-items: start;
    gap: 15px;
    margin: 35px 0px;
}
.main__title-small{
    width: 340px;
    height: 27px;
    left: 71px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;  
}
.main__text-small{
    width: 323px;
    height: 84px;
    top: 41px;
    left: 71px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.5002105832099915px;
    text-align: left;
    color: #696871;        
}
/*--------------------------------------------------------service-----------------------------------------------------*/
.service__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.service__list{
    list-style: none;
}
.service__list__img{
    list-style: none;
    width: 460px;
    flex-wrap: wrap;
    display: flex;
}
.section__one{
    width: 220px;
    height: 309px;
    top: 2236px;
    left: 245px;
    gap: 0px;
    opacity: 0px;    
}
.service__item__two{
    padding-top: 45px;
    padding-left: 20px;
}
.service__two{
    width: 220px;
    height: 184px;
    top: 2283px;
    left: 480px;
    gap: 0px;
    opacity: 0px;    
}
.service__item__three{
    padding-top: 20px;
}
.service__three{
    width: 220px;
    height: 184px;
    top: 2560px;
    left: 245px;
    gap: 0px;
    opacity: 0px;    
}
.service__item__four{
    padding-left: 20px;
    margin-top: -61px;
}
.service__four{
    width: 220px;
    height: 309px;
    top: 2482px;
    left: 480px;
    gap: 0px;
    opacity: 0px;
}
.service__title{
    width: 528px;
    height: 140px;
    top: 2395px;
    left: 822px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;
}
.service__text{
    width: 515px;
    height: 117px;
    top: 2559px;
    left: 825px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;
    color: #696871;
    padding-top: 25px;        
}
/*--------------------------------------------------------enter-----------------------------------------------------*/
.enter__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.enter__title{
    width: 528px;
    height: 140px;
    top: 3041px;
    left: 245px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left; 
}
.enter__text{
    width: 515px;
    height: 117px;
    top: 3205px;
    left: 248px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;
    margin: 30px 0px;
}
.enter__button{
    width: 200px;
    height: 60px;
    top: 3362px;
    left: 248px;
    gap: 0px;
    opacity: 0px;
    background: #F04037;
    color: white;
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.enter__button:hover{
    color: red;
    background-color: white;
    border: 1px solid red;
}
.enter__img{
    width: 404px;
    height: 700px;
    top: 2882px;
    left: 877px;
    padding: 0.73px 0.75px 0.73px 0.75px;
    gap: 0px;
    opacity: 0px;    
}
/*--------------------------------------------------------app-----------------------------------------------------*/
.app__container{
    padding-top: 60px;
    text-align: center;
}
.app__nav{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
}
.app__list{
    display: grid;
    justify-content: center;
}
.app__title{
    font-family: CircularStd, sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: center;     
}
.app__text{
    width: 523px;
    height: 78px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;
    margin: 20px 0px;       
}
/*--------------------------------------------------------footer-----------------------------------------------------*/
.footer__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__text{
    width: 80px;
    height: 30px;
    top: 35px;
    left: 245px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: -0.7503158450126648px;
    text-align: left;    
}
.footer__text__consist{
    width: 285px;
    height: 38px;
    top: 32px;
    left: 366px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.5002105832099915px;
    text-align: left;
}
.footer__list{
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer__navbar{
    list-style: none;
    display: flex;
    gap: 40px;
}
.footer__link{
    text-decoration: none;
    width: 488px;
    height: 38px;
    top: 31px;
    left: 867px;
    gap: 0px;
    opacity: 0px;
    font-family: CircularStd, sans-serif;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.5002105832099915px;
    text-align: right;
    color: #19191B;
}
